<!DOCTYPE html>
<html lang="en">
<head>
    <title>Landing Page</title>
</head>
<body>
{% extends 'base.html' %}

    {% block content %}
        <h1>Landing Page </h1>
        <p>
            <br>
            <br>
            <a style="background-color: black; 
            margin: 10px; padding: 10px; 
            color: bisque;" href="load_form">Add New </a>
            <hr>
            <br>
            <a style="background-color: black; 
            margin: 10px; padding: 10px; 
            color: bisque;" href="show">Show All </a>
            <br>
            <br>
        </p>
    {% endblock content %}
</body>
</html>